
// Colors
$yellow-light: #ecd444;
$yellow-darken: #84742c;
$blue-light: #76b6fc;
$blue_darken: #253646;
$white: #fff;
$darken: #333;

// Fonts
$text-font: 'Poppins', sans-serif;
$title-font: 'Prompt', sans-serif;


// Breakpoints
$phone: 520px;
$tablet: 800px;
$desktop: 992px;
$destopXL: 1366px;

