/*
 CSS HEX
--turquoise: #5edabeff;
--yale-blue: #243a74ff;
--english-violet: #403658ff;
--purple: #7e1a7cff;
--steel-pink: #d23bafff;
--thistle: #cbb9c5ff;
*/


// Colors
$pink: #D23BAF;
$purple: #7E1A7C;
$blue-light: #5EDABE;
$blue_darken: #243A74;
$white: #fff;
$darken: #403658;
$gray: #CBB9C5;

// Fonts
$text-font: 'Poppins', sans-serif;
$title-font: 'Prompt', sans-serif;


// Breakpoints
$phone: 520px;
$tablet: 800px;
$desktop: 992px;
$destopXL: 1366px;
